.paragraph--rich-text-topo {
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
}

.container--rich-text-topo {
  text-align: center;
  display: flex;
  justify-content: center;
}

.paragraph--titulo-manuais {
  font-weight: bold;
}

.link--texto-horarios {
  text-decoration: none;
  color: white;
}

.paragraph--texto-horarios,
.paragraph--texto-contato,
.heading--titulo-contato {
  color: white;
}

.paragraph--rich-text-produtos-relacionados {
  color: #5C5A58;
  font-family: var(--fonte-secundaria);
  font-size: 60px;
}

.wrapper--titulo-descricao {
  font-family: var(--fonte-secundaria);
  font-size: 48px;
  color: #5C5A58;
}

.paragraph--titulo-descricao {
  margin: 0 50px;
  padding: 0;
}

.container--texto-numeros {
  font-family: var(--fonte-secundaria);
}

.link--texto-numeros {
  text-decoration: none;
  color: var(--cinza-medio);
}

.paragraph--texto-numeros {
  margin: 0;
  color: var(--cinza-medio);
}

.container--linha-texto {
  margin-bottom: 30px;
}

.paragraph--linha-texto {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  color: var(--cinza-medio);
}

.link--texto-trocas-devolucoes {
  text-decoration: none;
  color: white;
}


.container--texto-trocas-devolucoes,
.container--titulo-trocas-devolucoes {
  color: white;
}

.paragraph--contatos-footer-titulo {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  margin-top: 63px;
  color: var(--cinza-medio);
}

.wrapper--texto-digitando {
  color: #ffffff;
  font-size: 40px;
  font-family: var(--fonte-secundaria);
  margin-top: 5px;
}

/* Stermax Health: Pure Health, Expert Care. */
.paragraph--texto-digitando {
  margin: 0;
  padding: 0;
}





.container--texto-digitando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--subtitulo-banner-esquerdo {
  text-align: right;
}

.container--titulo-banner-direito,
.container--subtitulo-banner-direito {
  text-align: left;
}

.paragraph--subtitulo-banner-direito,
.paragraph--titulo-banner-direito,
.paragraph--titulo-banner-esquerdo,
.paragraph--subtitulo-banner-direito,
.paragraph--subtitulo-banner-esquerdo {
  margin: 0;
  padding: 0;
}

.paragraph--titulo-banner-direito,
.paragraph--titulo-banner-esquerdo {
  font-family: "fraunces-regular";
  font-size: 45px;
  margin-top: 40px;
}

.paragraph--subtitulo-banner-direito,
.paragraph--subtitulo-banner-esquerdo {
  font-family: "jost-regular";
  font-size: 20px;
}

.wrapper--titulo-banner-esquerdo,
.wrapper--titulo-banner-esquerdo {
  text-align: right;

}

.paragraph--titulo-banner-secundario {
  background-color: #1F7ECA;
  padding: 15px;
  border-radius: 166px;
  color: white;
  font-size: 27px;
  font-family: "fraunces-regular";
  margin-right: 50px;
}

.container--titulo-banner-secundario {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 58px;
}

.wrapper--deals,
.strong--deals {
  font-family: "jost-regular";
}

.container--deals {
  color: #868181;
  text-align: center;
  justify-content: center;
  font-size: 13px;
  font-family: "jost";
}

.container--shelfTitle {
  color: #F6F6F6;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  text-align: left;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.container--footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1000px) {
  .paragraph--rich-text-produtos-relacionados {
    font-size: 1.8rem;
  }

  .paragraph--titulo-descricao {
    margin: 0 20px;
    padding: 10px;
  }

  .wrapper--titulo-descricao {
    font-size: 1rem;
  }

  .container--deals {
    font-size: 6px;
  }

  .paragraph--deals {
    margin: 0 0 0 10px;
  }

  .paragraph--titulo-banner-secundario {
    padding: 10px;
    font-size: 8px;
    margin-right: 0px;
  }

  .container--titulo-banner-secundario {
    bottom: 20px;
  }

  .paragraph--titulo-banner-direito,
  .paragraph--titulo-banner-esquerdo {
    font-size: 18px;
  }

  .paragraph--subtitulo-banner-direito,
  .paragraph--subtitulo-banner-esquerdo {
    font-size: 10px;
  }

  .wrapper--texto-digitando {
    font-size: 1rem;
  }

  .paragraph--contatos-footer-titulo {
    font-size: 12px;
    margin-top: 25px;
    font-weight: bold;
  }

  .paragraph--footer-titulo {
    font-weight: 400;
    font-size: 16px;
  }

  .paragraph--linha-texto,
  .container--texto-numeros {
    font-size: 10px;
  }


  .flexColChild--container-footer-mobile {
    height: fit-content !important;
  }

  .wrapper--footer-links {
    padding: 0 5px;
  }

}
