.trigger--disclosure-trigger-linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 56px;
  background-color: #EDE6DC;
}

.content--visible{
  margin: 40px;
}



