.paragraph--rich-text-produtos-relacionados{
  color: #5C5A58;
  font-family: var(--fonte-secundaria);
  font-size: 60px;
}

.wrapper--titulo-descricao{
  font-family: var(--fonte-secundaria);
  font-size: 48px;
  color: #5C5A58;
}

.paragraph--titulo-descricao{
  margin: 0 50px;
  padding: 0;
}

.container--texto-numeros{
  font-family: var(--fonte-secundaria);
}

.link--texto-numeros{
  text-decoration: none;
  color: var(--cinza-medio);
}

.paragraph--texto-numeros{
  margin: 0;
  color: var(--cinza-medio);
}

.container--linha-texto{
  margin-bottom: 30px;
}

.paragraph--linha-texto{
  margin: 0;
  padding: 0;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  color: var(--cinza-medio);
}

.paragraph--contatos-footer-titulo{
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  margin-top: 63px;
  color: var(--cinza-medio);
}

.wrapper--texto-digitando{
  color: #ffffff;
  font-size: 40px;
  font-family: var(--fonte-secundaria);
}

/* Stermax Health: Pure Health, Expert Care. */
.paragraph--texto-digitando{
  margin: 0;
  padding: 0;
}





.container--texto-digitando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--subtitulo-banner-esquerdo {
  text-align: right;
}

.container--titulo-banner-direito,
.container--subtitulo-banner-direito {
  text-align: left;
}

.paragraph--subtitulo-banner-direito,
.paragraph--titulo-banner-direito,
.paragraph--titulo-banner-esquerdo,
.paragraph--subtitulo-banner-direito,
.paragraph--subtitulo-banner-esquerdo {
  margin: 0;
  padding: 0;
}

.paragraph--titulo-banner-direito,
.paragraph--titulo-banner-esquerdo {
  font-family: "fraunces-regular";
  font-size: 45px;
  margin-top: 40px;
}

.paragraph--subtitulo-banner-direito,
.paragraph--subtitulo-banner-esquerdo {
  font-family: "jost-regular";
  font-size: 20px;
}

.wrapper--titulo-banner-esquerdo,
.wrapper--titulo-banner-esquerdo {
  text-align: right;

}

.paragraph--titulo-banner-secundario {
  background-color: #1F7ECA;
  padding: 15px;
  border-radius: 166px;
  color: white;
  font-size: 27px;
  font-family: "fraunces-regular";
  margin-right: 50px;
}

.container--titulo-banner-secundario {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  bottom: 58px;
}

.wrapper--deals,
.strong--deals {
  font-family: "jost-regular";
}

.container--deals {
  color: #868181;
  text-align: center;
  justify-content: center;
  font-size: 13px;
  font-family: "jost";
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
  text-align: left;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
