.flexColChild--coluna-relacionados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--linha-especificacao-values {
  margin: 20px 0;
  ;
}

.flexColChild--linha-especificacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexColChild--linha-disclosure {
  padding: 30px 0;
}

.flexRow--container-fotos-info-produto,
.flexRow--linha-descricao {
  margin: 0 60px;
}

.flexRow--deals {
  margin: -60px 60px 60px 60px;
}

.flexRowContent--linha-disclosure .stretchChildrenWidth {
  display: flex;
  flex-direction: column;
}

.flexRow--container-icones-bandeiras {
  margin-bottom: 30px;
}

.flexColChild--container-compra-segura {
  height: 50%;
}

.flexRowContent--container-icones-bandeiras {
  gap: 30px;
}

.flexRowContent--container-selos-rows {
  gap: 20px;
}

.flexRowContent--container-selos-rows-linha1 {
  margin-bottom: -40px;
}

.flexColChild--linha-contatos-icone {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRow--linha-newsletter {
  margin: 50px 0;
}

.flexColChild--coluna-infos-empresa {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto !important;
}


.flexRowContent--container-selos {
  display: flex;
  flex-direction: column;
}

.flexRowContent--container-horarios,
.flexCol--container-meios-contato {
  display: flex;
  flex-direction: column;
  text-wrap-mode: nowrap;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 10px;
}

.flexCol--container-contatos,
.flexCol--coluna-infos-empresa {
  display: flex;
  flex-direction: column;
  margin-left: 136px;
}

.flexCol--container-compra-segura {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 136px;
}

.flexRowContent--menu-row {
  margin: 0;
  padding: 0 0 80px 0;
  background-color: #EDE6DC;
}

.flexRow--container-footer-digitando {
  height: 70px;
  background-color: #CCC7C0;
}

.flexRow--container-secao-divisoria-link {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #000000;
  max-width: 1400px;
  margin: 70px auto 0;
}


.flexRow--secao-banner-quarto {
  margin-top: 50px;
}

.flexRowContent--container-link-epecialista {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.flexCol--banner-coluna2-esq {
  width: 100%;

}

.flexColChild--banner-coluna2-esq {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.flexColChild--coluna-textos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.flexColChild--coluna-imagem {
  display: flex;
  align-items: flex-end;
}


.flexCol--coluna-textos {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.flexCol--coluna-imagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexCol--banner-coluna2-esq {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flexRowContent--coluna-banner-esquerdo--imagem {
  background-color: var(--mapa);
  height: 520px;
}

.flexRowContent--coluna-banner-direito--imagem {
  background-color: var(--bege-02);
  height: 520px;
}

.flexRowContent--secao-banner-segundo {
  display: flex;
  flex-direction: column;
}

.flexRowContent--secao-banner-segundo :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.container--titulo-banner-secundario :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}



.flexCol--coluna-cards {
  display: flex;
  flex-direction: row;
}

.flexRowContent--personas {
  display: flex;
  flex-direction: column;
}

.stretchChildrenWidth .flexCol--coluna-login-minicart {
  width: 33% !important;
}

.flexCol--coluna-login-minicart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flexColChild--login-header-desktop {
  height: 100%;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.flexColChild--deal-col {
  display: flex;
  align-items: center;
  height: unset !important;
}



.flexCol--linha-deal-icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.flexColChild--linha-deal-icon {
  display: flex;
  align-items: center;
}

.flexCol--deal-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.minicart-header-desktop {
  width: fit-content;
}

.flexRow--menu-superior-linha-central {
  text-align: center;
}

.flexRow--menu-superior-linha-esqueda .stretchChildrenWidth,
.flexRow--menu-supeiro-linha-direita .stretchChildrenWidth {
  width: fit-content;
}

.flexRow--menu-superior-linha-central .stretchChildrenWidth {
  width: 100%;

}

.stretchChildrenWidth .flexRow--menu-supeiro-linha-direita {
  display: flex;
  align-items: center;
}

.flexCol--minicart-header-desktop {
  width: fit-content;
}

.flexRow--menu-superior-linha-esqueda {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  text-align: left;
  justify-content: flex-start;
}

.flexRowContent--menu-supeiro-linha-direita {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}



.flexRowContent--menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--menu-link,
.flexRowContent--sticky-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--sticky-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--sticky-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: var(--stermax-azul-claro);
  color: #fff;
}

.flexRowContent--sticky-header {
  background-color: #f0f0f0;
}

.flexRowContent--sticky-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--sticky-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: var(--bege-02);
  /* margin: 40px 10px; */
  padding: 14px;
  border-radius: 166px;
  /* max-width: 1528px; */
  /* margin: -90px auto 50px; */
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexCol--deals-mobile-coluna,
.flexRowContent--deals-mobile-row {
  display: flex;
  flex-direction: row;
}

.flexColChild--deals-mobile-coluna {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRow--deals-mobile-row {
  background-color: var(--bege-02);
  margin: 12px;
  border-radius: 50px;
  padding: 5px 0;
}

.flexRowContent--links-footer-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRowContent--footer-mobile {
  display: flex;
  flex-direction: row;
}


.flexColChild--animacao-banner-direita{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .flexRow--deals {
    display: none;
  }

  .flexColChild--productRating,
  .flexCol--productRating {
    display: none;
  }

  .flexRow--container-secao-divisoria-link {
    margin: 0px auto 0;
    max-width: max-content;
  }

  .flexRow--secao-banner-quarto {
    margin-top: 0px;
  }

  .flexCol--banner-coluna2-esq {
    margin-right: 25px;
  }

  .flexRowContent--coluna-banner-esquerdo--imagem {
    display: flex;
    flex-direction: row;
  }

  .flexRowContent--coluna-banner-direito--imagem,
  .flexRowContent--coluna-banner-esquerdo--imagem {
    height: unset;
  }

  .flexRowContent--coluna-banner-direito--imagem{
    display: flex;
    flex-direction: row;
  }

  .flexCol--coluna-textos {
    margin-left: 25px;
  }

  .flexRow--container-footer-digitando {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flexRowContent--container-selos {
    flex-direction: row;
  }

  .flexRowContent--linha-contatos-icone-texto {
    display: flex;
    flex-direction: row;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .flexCol--linha-contatos-icone{
    width: unset;
  }
  .flexCol--linha-contatos-icone{
    width: auto!important;
  }

  .flexRow--footer-mobile{
    background-color: var(--bege-02);
    padding-top: 40px;
  }

  .container-footer-mobile-direita{
    padding: 0 20px 0 10px;
  }

  .flexCol--container-footer-mobile{
    padding: 0 0 0 20px;
  }

  .flexColChild--linha-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px
  }

  .flexRowContent--linha-mobile-selos{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flexRow--col-mobile-selo{
    margin-top: 25px;
  }
}
