.newsletterForm--container-newsletter {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}

.emailInputContainer--input-email :global(.vtex-input-prefix__group) {
  height: 100%;
}
.emailInputContainer--input-email :global(.vtex-input-prefix__group):hover {
  border: none;
}
.emailInputContainer--input-email :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: #FFF9F4;
  margin-right: 10px;
  border-radius: 35px;
  width: 180px!important;
  height: 36px!important;
  font-family: var(--fonte-secundaria);
}


.formSubmitContainer--submit :global(.vtex-button){
  background-color: #206498;
  border: none;
  color: #FFFFFF;
  font-family: "fraunces-regular";
  font-size: 16px;
  height: 36px!important;
  width: 95px!important;
  border-radius: 35px;
  text-transform: uppercase;
  display: flex;
}

@media screen and (max-width: 1000px){




}
