.flexCol--login-header-desktop{
  width: fit-content;
}

.flexColChild--login-header-desktop {
  height: 100%;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.flexColChild--deal-col {
  display: flex;
  align-items: center;
  height: unset!important;
}



.flexCol--linha-deal-icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.flexColChild--linha-deal-icon {
  display: flex;
  align-items: center;
}

.flexCol--deal-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.minicart-header-desktop {
  width: fit-content;
}

.flexRow--menu-superior-linha-central {
  text-align: center;
}

.flexRow--menu-superior-linha-esqueda .stretchChildrenWidth,
.flexRow--menu-supeiro-linha-direita .stretchChildrenWidth {
  width: fit-content;
}

.flexRow--menu-superior-linha-central .stretchChildrenWidth {
  width: 100%;

}

.stretchChildrenWidth .flexRow--menu-supeiro-linha-direita {
  display: flex;
  align-items: center;
}

.flexCol--minicart-header-desktop {
  width: fit-content;
}

.flexRow--menu-superior-linha-esqueda {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  text-align: left;
  justify-content: flex-start;
}

.flexRowContent--menu-supeiro-linha-direita {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}



.flexRowContent--menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: var(--stermax-azul-claro);
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: var(--bege-02);
  margin: 40px 10px;
  padding: 14px;
  border-radius: 166px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
