:root {
  --paleta: #1f80ca;
  --stermax-azul-claro: #9fbae1;
  --background: #fffaf4;
  --bege-02: #EDE6DC;
  --mapa: #F9F4EC;
  --fonte-primaria: "jost-regular";
  /* --fonte-secundaria: "fraunces-regular"; */
  --fonte-secundaria: "domine-regular";
  --cinza-medio: #868181;
}


:global(.vtex-store-components-3-x-content) p {
  color: #1f80ca !important;
}

@media screen and (max-width: 1000px) {
:global(.vtex-render__container-id-deals-mobile) {
  margin-top: -133px;
}
}
