.container-cart .cart-links.cart-links-bottom .btn-place-order-wrapper{
  width: 100%;
}

.container-cart .cart-links.cart-links-bottom .btn-place-order-wrapper a{
  width: 100%!important;
  margin-top: 90px;
}

.container-cart .coupon.summary-coupon .coupon-fields .coupon-value{
  width: 100%;
}
